
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="secondary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon routerLink="">home</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list role="list">
      <mat-list-item>
        <a routerLink='/match/match-view' (click)="sidenav.toggle()">
          <button class="btnNav" mat-raised-button color="accent">
            <mat-icon mat-list-icon>sports_soccer</mat-icon>
            PARTIDOS
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/soccerTeam/soccerTeam-View" (click)="sidenav.toggle()">
          <button class="btnNav" mat-raised-button color="accent">
            <mat-icon mat-list-icon>group</mat-icon>
            EQUIPOS
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/player/player-view" (click)="sidenav.toggle()">
          <button class="btnNav" mat-raised-button color="accent">
            <mat-icon mat-list-icon>person</mat-icon>
            JUGADOR
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/statistics/statistics-result" (click)="sidenav.toggle()">
          <button class="btnNav" mat-raised-button color="accent">
            <mat-icon mat-list-icon>bar_chart</mat-icon>
            Estadisticas
          </button>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar  class='toolbar' color='primary'>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>QATAR 2022</span>
  </mat-toolbar>
  <div class="container">
    <router-outlet>
    </router-outlet>
  </div>
</mat-sidenav-container>

