<br>
<h1> CREAR JUGADOR</h1>
<mat-stepper class="stepper" headerPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos Personales</ng-template>
      <mat-form-field>
        <input matInput placeholder="Ingrese Nombre" formControlName="firstCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Ingrese Apellido" formControlName="firstCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input formControlName="matchDay" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" optional>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Datos de Jugador</ng-template>
      <mat-form-field>
        <input matInput placeholder="Pais" formControlName="secondCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Posicion" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    Jugador Cargado
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
