table {
  width: 100%;
  margin: auto;

}

.container{
  width: 100%;
}

th{
  width: 20%;
  font-size: medium;
  color:aliceblue;
  border-color: aliceblue;
  background-color: black;
}

div{
  width: 80%;
  margin: auto;
  height: 80%;

}
mat-divider{
  background-color: aliceblue;
}
.pointer{ cursor: pointer;}

h1{
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  color: aliceblue;
  background-color: black;
}
a{
  text-align: right;
}
td{
  color:black;
  border-color: black;
  font-weight: bold;
  width: 20%;
}
.btn-add{
  margin-top: 0px;
  font-weight: bold;

}
