<mat-divider></mat-divider>
<h1>Equipos</h1>
<div class="container">
  <div>
    <button class="btn-add" (click)="openDialog('2000ms', '1000ms')" mat-raised-button color="accent">Agregar
      Equipo</button>
  </div>
  <br>

  <div class="mat-elevation-z10">

    <table color="primary" mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Pais </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef> Grupo </th>
        <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Posicion</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <a class="pointer" (click)="openDialog('2000ms', '1000ms')" (click)="editSoccerTeam(element)"
            style='color:rgba(255, 187, 0, 0.986)' matTooltip="Editar Equipo">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="pointer" style='color:red' (click)="deleteSoccerTeam(element.idCountry)"
            matTooltip="Eliminar Equipo">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
